<div class="row">
  <div class="col">
    <div class="card bg-transparent">
      <div class="card-body">
        <strong>404! Page Not Found </strong>
        <br />
        <p>Page not exists</p>
        <a href="/">Click Here to go to previous page</a>
      </div>
    </div>
  </div>
</div>
