<form method="post" action="/categories/add">
  <div class="form-group">
    <label for="category">Category:</label>
    <input class="form-control" id="category" name="category" type="text" />
  </div>
    <br />
  <input
    type="submit"
    class="btn btn-primary pull-right"
    value="Add Category"
  />
</form>